<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<nav>
  <!-- =========================================== -->
  <!--            Search section start             -->
  <!-- =========================================== -->
  <section id="search-box">
    <input id="address"
           type="text"
           class="form-control"
           placeholder="주소를 입력해주세요"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="off">

    <button type="button" class="btn btn-default"
            id="search_studyroom" (click)="showChildModal()">내 독서실 찾기</button>

    <!-- Modal -->
    <div bsModal #childModal="bs-modal"
         class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true" [config]="{backdrop: false}">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Child modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            I am a child modal, opened from parent component!
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- =========================================== -->
  <!--              Search section end             -->
  <!-- =========================================== -->
</nav>

<div class="wrapper">

  <!-- app list component -->
  <app-list [studyrooms]="studyrooms"></app-list>

  <!-- =========================================== -->
  <!--              Map section start              -->
  <!-- =========================================== -->
  <section id="map">
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      (centerChange)="centerChange($event)"
      (boundsChange)="boundsChange($event)"
      (mapClick)="mapClicked($event)"
    >

      <sebm-google-map-marker
        *ngFor="let m of markers"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
      >
      </sebm-google-map-marker>
    </sebm-google-map>
  </section>
  <!-- =========================================== -->
  <!--                Map section end              -->
  <!-- =========================================== -->

</div>

