<!-- =========================================== -->
<!--             List section start              -->
<!-- =========================================== -->
<section id="list">
  <!-- list wrapper -->
  <div class="wrapper">

    <section id="white-box"></section>

    <section id="content">
      <header id="top_image">
        <img src="../../assets/images/list_top_image.jpg" id="list_top_image"/>
      </header>

      <article *ngFor="let studyroom of studyrooms">
        <div class="well">
          {{ studyroom['name'] }}<br>
          {{ studyroom['tel'] }}<br>
          {{ studyroom['address']}}
        </div>
      </article>

      <footer>
        <img src="../../assets/images/list_bottom_image.jpg" id="list_bottom_image"/>
      </footer>
    </section>
  </div>
</section>
<!-- =========================================== -->
<!--               List section end              -->
<!-- =========================================== -->
