<!-- =========================================== -->
<!--             List section start              -->
<!-- =========================================== -->
<section id="list">
  <!-- list wrapper -->
  <div class="wrapper">

    <section id="white-box"></section>

    <section id="content">
      <header>
        <h2>Header.</h2>
      </header>

      <article *ngFor="let studyroom of studyrooms">
        <div class="well">
          {{ studyroom['name'] }}
          {{ studyroom['tel'] }}
          {{ studyroom['address']}}
          {{ studyroom['fee']}}
          {{ studyroom['is_qanda']}}
        </div>
      </article>
    </section>
  </div>
</section>
<!-- =========================================== -->
<!--               List section end              -->
<!-- =========================================== -->
