<header>
  <!-- =========================================== -->
  <!--            Search section start             -->
  <!-- =========================================== -->
  <section id="search-box">
    <span>Search</span>
    <input #box (keyup)="search(box.value)" type="text" class="form-control" placeholder="Text input" list="stdlist">
    <datalist id="stdlist">
      <option
        *ngFor="let result of stdrooms | async"
        (click)="gotoDetail(result)"
        class="search-result"
        [value]="result.name + result.address"></option>
    </datalist>
    <button type="button" class="btn btn-warning" id="btn_go">Go</button>
  </section>
  <!-- =========================================== -->
  <!--              Search section end             -->
  <!-- =========================================== -->
</header>

