<!--<nav>-->
  <!--&lt;!&ndash; =========================================== &ndash;&gt;-->
  <!--&lt;!&ndash;            Search section start             &ndash;&gt;-->
  <!--&lt;!&ndash; =========================================== &ndash;&gt;-->
  <!--<section id="search-box">-->
    <!--<span>Search</span>-->

    <!--<input #box-->
           <!--type="text" class="form-control"-->
           <!--placeholder="Text input"-->
           <!--autocorrect="off"-->
           <!--autocapitalize="off"-->
           <!--spellcheck="off"-->
           <!--[formControl]="searchControl">-->


    <!--&lt;!&ndash; Using in modal! &ndash;&gt;-->
    <!--&lt;!&ndash;(keyup)="search(box.value)" &ndash;&gt;-->
    <!--&lt;!&ndash;<datalist id="stdlist">&ndash;&gt;-->
      <!--&lt;!&ndash;<option&ndash;&gt;-->
        <!--&lt;!&ndash;*ngFor="let result of stdrooms | async"&ndash;&gt;-->
        <!--&lt;!&ndash;(click)="selectOption(result)"&ndash;&gt;-->
        <!--&lt;!&ndash;[value]="result.name + ' ' + result.address"></option>&ndash;&gt;-->
    <!--&lt;!&ndash;</datalist>&ndash;&gt;-->

  <!--</section>-->
  <!--&lt;!&ndash; =========================================== &ndash;&gt;-->
  <!--&lt;!&ndash;              Search section end             &ndash;&gt;-->
  <!--&lt;!&ndash; =========================================== &ndash;&gt;-->
<!--</nav>-->

<app-map></app-map>
