header {
  /* set */
  z-index: 1;
  position: absolute;

  /* size */
  height: 50px;
  width: 100%;

  /* preference */
  background-color: white;
  border-bottom: 2px solid gray;
}


span {
  margin: 35px;
}

#search-box {
  /* centering */
  margin: auto;
  padding: 7px;
}

.form-control {
  display: inline-block;
  width: 20%;
}

#btn_go {
  position: relative;
  left: 25px;
}
/* for mobile */
@media only screen and (max-width : 721px) {
  #btn_go{
    position: relative;
    float: right;
  }

  .form-control {
    width: 50%;
  }
}
